body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: tahoma;
  }
  p{
    font-size: 18px;
  }
  
  header{
    background-color: #ee8114;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
   z-index: 1;
  }
  header h1{
    color: white;
    border: 8px solid white;
    display: inline-block;
    border-radius: 36px;
  }
  
  .banner{
   position: relative;
    padding-top: 7em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .banner img{
    width: 100%;
  }
  nav{
    background: #ffffff;
    padding: 20px;
    position: sticky;
    top: 120px;
    z-index: 1;
  }
  nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
  }
  nav li a{
    text-decoration: none;
    color: #ee8114;
  }
  /*nav li a:hover{
    text-decoration: underline;
  }*/
  nav li a.join{
    color: #F63232;
  }
  main{
    max-width: 75%;
    align: auto;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
  }
  article h2{
    color: #e6670c;
    font-size: 48px;
  }
  article p{
    line-height: 2em;
    color: #c6590a;
  }
  article p::first-line{
    font-weight: bold;
    font-size: 1.2em;
  }
  .images{
    text-align: center;
    margin: 20px;
    white-space: nowrap;
  }
  .images li{
    display: inline-block;
    list-style-type: none;
    width: 40%;
    margin: 20px;
    position: relative;
  }
  .images li:hover{
    border: #c6590a solid 5px;
  }
  .images li img{
    /* max-width: 100%; */
    width: 100%;
  }
  section.join{
    background: #F4F4F4;
    text-align: center;
    padding: 60px 20px;
    color: #4B4B4B;
  }
  section.join h2{
    font-size: 36px;
  }
  form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
  }
  form input:focus{
    border: 4px dashed #4B4B4B;
    outline: none;
  }
  form input:valid{
    border: 4px solid #71d300;
  }
  footer{
    background: #ee8114;
    color: white;
    padding: 10px;
    text-align: center;
  }
  /* responsive styles */
  @media screen and (max-width: 1400px){
    .banner .welcome{
      font-size: 40px;
    }
  }
  @media screen and (max-width: 960px){
    .banner .welcome{
      font-size: 28px;
    }
    nav li{
      font-size: 18px;
    }
  }
  @media screen and (max-width: 700px){
    .banner .welcome{
      font-size: 20px;
      position: relative;
      text-align: center;
    }
    .banner .welcome br{
      display: none;
    }
    .banner .welcome span{
      font-size: 1em;
    }
   nav li{
      font-size: 18px;
    }
    .images li{
      width: 100%;
      display: block;
      margin: 20px auto;
    }
  }
  @media screen and (max-width: 560px){
    .banner .welcome{
      font-size: 20px;
      position: relative;
      text-align: center;
    }
    .banner .welcome br{
      display: none;
    }
    .banner .welcome span{
      font-size: 1em;
    }
    nav li{
      display: block;
      width: 100%;
      margin: 12px 0;
    } 
    article h2{
      font-size: 36px;
    }
    header, nav{
      position: relative;
      top: 0;
    }
  }

  nav {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 50px 0;
    box-shadow: 0px 5px 0px #dedede;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #ee8114;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: rgb(0, 0, 0);
  }
  
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #333;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  
  nav.fill ul li a {
    transition: all 2s;
  }
  
  nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover {
    color: #1b1c1b;
    z-index: 1;
  }
  nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  
  /* Circle */
  nav.circle ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  nav.circle ul li a:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
  }
  nav.circle ul li a:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
  }
  
  /* SHIFT */
  nav.shift ul li a {
    position:relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    color: #873309;
  }
  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  
  
  /* Blend */
  nav.blend ul li a {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
  }
  nav.blend ul li a:hover {
    color: #fff;
  }
  nav.blend ul li a:before,
  nav.blend ul li a:after {
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: #D35400;
    transition: all .5s;
    margin: auto;
    content: '.';
    color: transparent;
    z-index: -1;
    opacity: 0.75;
  }
  nav.blend ul li a:before {
    left: 0;
  }
  nav.blend ul li a:after {
    right: 0;
  }
  
  nav.blend ul li a:hover:after,
  nav.blend ul li a:hover:before {
    width: 100%;
  }
  
  /* DROWN */
  
  nav.drown ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  nav.drown ul li a:hover {
    color: #fff;
  }
  
  nav.drown ul li a:before {
    background: #fff;
    content: '.';
    color: transparent;
    position: absolute;
    width: 500%;
    top: 100px;
    right: 300px;
    height: 300px;
    z-index: -1;
  }
  nav.drown ul li a:hover:before {
    left: auto;
    bottom: auto;
    right: -50%;
    top: 0;
    background: #89C52B;
  }
  
  
  
  /* Keyframes */
  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #2ECC71;
    }
  }
  
  /* Keyframes */
  @-webkit-keyframes circle {
    0% {
      width: 1px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 1px;
      z-index: -1;
      background: #eee;
      border-radius: 100%;
    }
    100% {
      background: #aaa;
      height: 5000%;
      width: 5000%;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0;
    }
    }